<h5>Farms List</h5>
<div class="row">
  <div class="col-md-6">
    <!-- This is the filter: by No and by Active Date -->
    <div class="form-group">
      <label for="filterDowpDown">Filter By</label>
      <select class="form-control" [formControl]="filter">
        <option value="All">All</option>
        <option value="Active Date">Active Date</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <button class="btn btn-outline-danger btn-sm" (click)="getData(true)">
      Error Button
    </button>
  </div>
</div>
<div class="row mt-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Farm No</th>
        <th scope="col">Farm Name</th>
        <th scope="col">Active Date</th>
      </tr>
      <tr *ngFor="let farm of farms">
        <td>{{ farm.FarmNo }}</td>
        <td>{{ farm.FarmName }}</td>
        <td>{{ farm.ActiveDate | date }}</td>
      </tr>
    </thead>
  </table>
</div>

<div class="row">
  <!-- The sf grid should be here -->
</div>
