<h5>Farms List</h5>
<div class="row">
  <div class="col">
    <!-- This is the filter: by No and by Active Date -->
    <div class="filter-container">
      <div>Filter By</div>
      <select class="form-control custom-select" [formControl]="filter">
        <option value="All">All</option>
        <option value="Active Date">Active Date</option>
        <option value="No">No</option>
      </select>
      <button class="btn btn-outline-danger btn-sm" (click)="getData(true)">
        Error Button
      </button>
    </div>
  </div>
</div>
<div class="row mt-2 table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Farm No</th>
        <th scope="col">Farm Name</th>
        <th scope="col">Active Date</th>
      </tr>
      <tr class="farm-row" *ngFor="let farm of farms">
        <td>{{ farm.FarmNo }}</td>
        <td>{{ farm.FarmName }}</td>
        <td>{{ farm.ActiveDate | date }}</td>
      </tr>
    </thead>
  </table>
</div>
