.filter-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-select {
  max-width: 200px;
  height: 35px;
}

.table-container {
  max-height: 450px;
  overflow-y: auto;
}

@media only screen and (max-width: 900px) {
  .table-container {
    max-height: 250px;
  }
}

.sticky {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.farm-row {
  cursor: pointer;
}

.farm-row:hover {
  background-color: rgb(221, 221, 221);
}
